<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.tapsell.sample">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TapsellApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RewardActivity" />
        <activity android:name=".InterstitialActivity" />
        <activity android:name=".navideAds.NativeActivity"/>
        <activity android:name=".navideAds.NativeBannerActivity"/>
        <activity android:name=".navideAds.NativeBannerInListActivity"/>
        <activity android:name=".navideAds.NativeVideoActivity"/>
        <activity android:name=".navideAds.NativeVideoInList"/>
        <activity android:name=".StandardActivity" />

        <activity
            android:name=".prerollAds.PreRollActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <activity
            android:name="ir.tapsell.sdk.TapsellAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>